
:root{
    --black :#020202;
    --lightblack : #1C1C1C;
    --lightgrey :#363636;
    --darkgrey : #6C757D;
    --lightpurple : #4609C2;
    --darkpurple :#5004B5;
    --darkblue : #007BFF;
    --lightblue:#17A2B8;
    --red :#DC3545;
    --yellow : #FFC107;
}
*{
    letter-spacing: 1px;
    font-family: 'Special Elite', cursive;
    
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Special Elite', cursive;
    background-color: var(--black);
    margin:0; 
    width: 100%;   
   position: absolute;
}

div{
    color: white;
}
input,button{
    font-family: 'Special Elite', cursive;
    letter-spacing: 4px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    width: 15rem;
    padding-left: 15px;
}
button {
    color: var(--lightpurple);
    background: transparent;
    border: 1px solid var(--lightpurple);
    
    text-transform: uppercase;
    font-weight: bold;
    
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    
    
    border-radius: 5px;

    font-weight: 600;
    padding: 10px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

button:hover {
    color: white;
    border: none;
    
    
}
.inactive-button{
    pointer-events: none;
    display: none;
}
button:hover span {
    transform: translateY(0) scale(2);
}
button span:nth-child(1),button span:nth-child(2),button span:nth-child(3),button span:nth-child(4){
    background: var(--lightpurple);
    background: -webkit-linear-gradient(bottom right, var(--lightpurple), var(--darkpurple));
    background: -moz-linear-gradient(bottom right, var(--lightpurple), var(--darkpurple));
    background: linear-gradient(to top left, var(--lightpurple), var(--darkpurple));

}
button span:nth-child(1) {
    --n: 1;
    
}

button span:nth-child(2) {
    --n: 2;
    
}

button span:nth-child(3) {
    --n: 3;
}

button span:nth-child(4) {
    --n: 4;    
}
.fancy-heading{
    white-space: break-spaces;
    margin: 0 10px;
    text-align: center;
      font-size: 30px;
      font-weight: 300;
      color: white;
      text-transform: uppercase;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 2px solid white;
      
  }
.hide-ele{
    display: none;
}
  @media only screen  and (max-width:991px){
      .fancy-heading{
          font-size: 24px;
      }
  }