
.header{
    background-color:var(--lightblack);
    height: 70px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.game-name-box{
    width: 15rem;
    border-radius: 5px;
    background: var(--lightpurple);
    background: -webkit-linear-gradient(bottom right, var(--lightpurple), var(--darkpurple));
    background: -moz-linear-gradient(bottom right, var(--lightpurple), var(--darkpurple));
    background: linear-gradient(to top left, var(--lightpurple), var(--darkpurple));
    color: white;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    margin-left: 30px;
}
.game-name{
    padding: 0;
    margin: 0;
    font-size: 24px;
    letter-spacing: 5px;
    
    
    overflow: hidden; 
    
    white-space: nowrap;
    margin: 0 auto; 
      
    animation: 
      typing  4.5s steps(30, end) ;
}
.header-right{
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: white;
}

.header-right-text:hover{
    text-decoration: underline;
    cursor: pointer;
}
.header-right-text{
    letter-spacing: 2.5px;
}


.razar {
    float:left;
    position:relative;
    width:50px;
    height:50px;
    background-size: 100% 100%;
    border-radius:35px;
    box-shadow:0 1px 1px 0 rgba(0,0,0,0.4), 0 0 4px 1px rgba(0,0,0,0.2), inset 0 1px 1px 0 rgba(255,255,255,0.2), inset 0 2px 4px 1px rgba(255,255,255,0.1);
  }
  
  .pulse {
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    border-radius:35px;
    background:var(--lightblue);
    -moz-animation: pulsating 2s ease-in-out;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: pulsating 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity:0.0;
    z-index:5;
  }
  
  .ringbase {
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    border-radius:35px;
    opacity:0.0;
    z-index:10;
  }
  
  .ring1 {
    box-shadow:0 0 2px 1px var(--darkblue), inset 0 0 2px 1px var(--darkblue);
    -moz-animation: ring 2s ease-in-out;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: ring 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation: ring 2s ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .ring2 {
    box-shadow:0 0 1px 0px var(--lightblue), inset 0 0 1px 0px var(--lightblue);
    -moz-animation: ring 2s ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-delay: 0.5s;
    -webkit-animation: ring 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.5s;
    animation: ring 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
  }
  @media only screen and (max-width:550px) {
    .game-name-box{
      width: 8rem;
      margin-left: 10px;
      padding: 5px;
    }
    .game-name{
      font-size: 18px;
      white-space: normal;
    }
  }
  @-webkit-keyframes pulsating {
    0% {opacity: 0.0;}
    50% {opacity: 0.2;}
    100% {opacity: 0.0;}
  }
  
  @-moz-keyframes pulsating {
    0% {opacity: 0.0;}
    50% {opacity: 0.2;}
    100% {opacity: 0.0;}
  }
  
  @keyframes pulsating {
    0% {opacity: 0.0;}
    50% {opacity: 0.2;}
    100% {opacity: 0.0;}
  }
  
  @-webkit-keyframes ring {
    0% {-webkit-transform: scale(0.4, 0.4); opacity: 0.0;}
    50% {opacity: 0.6;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
  }
  
  @-moz-keyframes ring {
    0% {-moz-transform: scale(0.4, 0.4); opacity: 0.0;}
    50% {opacity: 0.6;}
    100% {-moz-transform: scale(1.1, 1.1); opacity: 0.0;}
  }
  
  @keyframes ring {
    0% {transform: scale(0.4, 0.4); opacity: 0.0;}
    50% {opacity: 0.6;}
    100% {transform: scale(1.1, 1.1); opacity: 0.0;}
  }
  
  
  .pointer {
    position: absolute;
    width: 50px;
    top: 26px;
    -webkit-animation: circling 2s linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: circling 2s linear;
    -moz-animation-iteration-count: infinite;
    animation: circling 2s linear;
    animation-iteration-count: infinite;
    z-index: 20;
  }
  
  .pointer div {
    width: 49%;
    border-bottom:2px solid var(--darkblue);
  }
  
  .dot {
    opacity: 0;
    border: 3px solid var(--darkblue);
    border-radius: 100%;
    position:absolute;
    -webkit-animation: blink 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 2s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: blink 2s ease-out;
    animation-iteration-count: infinite;
    z-index: 25;
  }
  
  .dot.pos1 {
    left:10px;
    top:38px;
  }
  
  .dot.pos2 {
    left:40px;
    top:18px;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  @-webkit-keyframes circling {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes circling {
    0% {-moz-transform: rotate(0deg);}
    50% {-moz-transform: rotate(180deg);}
    100% {-moz-transform: rotate(360deg);}
  }
  
  @keyframes circling {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }
  
  @-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-moz-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
 