<div class="wave-footer">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" height="100%" width="100%" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path  id="gentle-wave"  d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(28,28,28,0.7)" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(28,28,28,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(28,28,28,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#1c1c1c" />
</g>
</svg>
<div class="footer-details">
    <div>Developed By Aditya</div>
    <div class="contact-us">
        <a href="https://github.com/Im-awesome-Aadi" target="blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/aditya-maheshwari-0b9961166/" target="blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.reddit.com/u/its_aditya" target="blank"><i class="fa-brands fa-reddit"></i></a>
    </div>
</div>
</div>