<div class="header">
    <div class="game-name-box">
        <p class="game-name">BATTLE SHIP</p>
    </div>

    <div class="header-right">
        <div class="how-to-play-box">
            <p class="how-to-play">How to play?</p>
        </div>
    
        <div class="about-us-box">
            <p class="about-us">About Us</p>
        </div>
    </div>
</div>
