<div class="header">
<div class="header-left">
    <div class="razar">
        <div class="ringbase ring1"></div>
        <div class="ringbase ring2"></div>
        <div class="pulse"></div>
        <div class="pointer">
          <div></div>
        </div>
        <div class="dot pos1"></div>
        <div class="dot pos2"></div>
      </div>

    <div class="game-name-box">
        
        <p class="game-name">BATTLE SHIP</p>
    </div>

</div>
</div>
